$font-family-body-latin: "Gill Sans MT", Arial, sans-serif
$font-family-body-armenian: "Helvetica Neue World", Arial, sans-serif

$font-family-heading-latin: "Helvetica Rounded", Arial, sans-serif
$font-family-heading-armenian: "Yerevanyan", Arial, sans-serif

$font-family-latin: $font-family-body-latin
$font-family-armenian: $font-family-body-armenian