@font-face {
  font-family: "Yerevanyan";
  src: url("../src/assets/fonts/Yerevanyan/Yerevanyan-Regular.woff2")
  format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yerevanyan";
  src: url("../src/assets/fonts/Yerevanyan/Yerevanyan-Bold.woff2")
  format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue World";
  src: url("../src/assets/fonts/HelveticaNeueWorld/HelveticaNeueBlack.woff2")
  format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue World";
  src: url("../src/assets/fonts/HelveticaNeueWorld/HelveticaNeueMedium.woff2")
  format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue World";
  src: url("../src/assets/fonts/HelveticaNeueWorld/HelveticaNeueBold.woff2")
  format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Helvetica Rounded"
    src: url("../src/assets/fonts/HelveticaRounded/HelveticaRounded Bold.woff2)
    format("woff2")
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: "Gill Sans MT";
  src: url("../src/assets/fonts/GillSansMT/gillsansmt.woff2")
  format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}