@use "../../styles/abstracts/variables" as *
@use "../../styles/base/fonts" as *

.select
  padding: $spacing-1 $spacing-2
  border-radius: $radius-md
  border: 1px solid $color-border
  font-family: $font-family-latin
  cursor: pointer